
node_modules/

test/fontello/demo.html

test/fontello/css/animation.css

test/fontello/css/fontello-codes.css

test/fontello/css/fontello-embedded.css

test/fontello/css/fontello-ie7-codes.css

test/fontello/css/fontello-ie7.css

test/fontello/README.txt
